@charset "utf-8";

#foundation main{
  height: 100%;
}
#foundation .top-visu{
  height: calc(100vh - 90px - 61px);
  background: url(../image/18.jpg) no-repeat center/cover;
  position: relative;
}
#foundation .top-visu::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
#foundation .visu-text{
  color: var(--white);
  position: relative;
  height: inherit;
}
#foundation .visu-text h1{
  position: absolute;
  top: 80px;
  left: 20px;
}
#foundation .visu-text h5{
  text-align: right;
  position: absolute;
  bottom: 80px;
  right: 20px;
}

#foundation .contribution{
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  height: calc(100vh - 90px - 61px);
}
#foundation .contribution .business{
  /* border: 1px solid red; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  position: relative;
}
#foundation .business::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
#foundation .business1::before{
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1)), url(../image/business1.jpg) no-repeat center/cover;
}
#foundation .business:nth-of-type(odd)::before{
  transform: scaleX(-1);
}

#foundation .business2::before{
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1)), url(../image/21.jpg) no-repeat center 85%/cover;
}
#foundation .business3::before{
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1)), url(../image/13.jpg) no-repeat center 40%/cover;
}
#foundation .business4::before{
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1)), url(../image/business4.jpg) no-repeat center 65%/cover;
}

#foundation .business:nth-of-type(even){
  text-align: right;
}
#foundation .business-text{
  position: relative;
  color: var(--white);
}
#foundation .business-text h3{
  font-weight: 600;
}